.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-pref-width: 160px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 20 10 20;
}

.sidebar-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

.time-slot {
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.time-slot-occupied {
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-background-color: #f44336;
    -fx-text-fill: white;
}

.time-slot:hover {
    -fx-background-color: #117fa2;
}

.nav-button {
    -fx-background-color: #15aad0;
    -fx-text-fill: white;
    -fx-padding: 5 10;
}

.nav-button:hover {
    -fx-background-color: #117fa2;
}

.upload-button {
    -fx-background-color: #15aad0;
    -fx-text-fill: white;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.upload-button:hover {
    -fx-background-color: #117fa2;
}

.sidebar {
    -fx-background-color: #15aad0;
}

.sidebar-button-active {
    -fx-background-color: #117fa2;
}

.action-button-confirm {
    -fx-background-color: #4CAF50; /* Grün */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.action-button-confirm:hover {
    -fx-background-color: #45a049; /* Dunkleres Grün */
}

.view-details-button {
    -fx-background-color: #2196F3; /* Blau */
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.view-details-button:hover {
    -fx-background-color: #1e88e5; /* Dunkleres Blau */
}
